*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #aaa;
}

h1,
h2,
h3 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card {
  padding: 2rem;
  border-radius: 14px;
}

.bg-blue {
  background: linear-gradient(45deg, hsl(240, 100%, 43%) 20%, hsl(269, 100%, 32%));
}

.padding {
  padding-block: clamp(2rem, 0.1818181818rem + 7.7575757576vw, 6rem);
}

.fb-col-wrapper { 
  display: grid;
  grid-template-columns: 1fr repeat(12, calc(min(100% - 40px, 60rem) / 12)) 1fr;

  .card {
    grid-column: 2 / 8;
  }

  img {
    grid-column: 8 / -1;
  }
}