*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  width: min(100% - 40px,60rem);  /* this is it */
  margin-inline: auto;
}

.padding {
  padding-block: clamp(2rem, 0.1818181818rem + 7.7575757576vw, 6rem);
}